@media only screen and (min-width: 1610px){
    iframe{
        width: 600px;
        margin-left: 5px;
    }
    #contentContainer{
        display:flex;
    }
    #map1{
        margin-left:200px;
    }
    #homeBody{
        background-image: url('../images/river.jpg');
    }
    #articleP{
        top:-300px;
    }
}