body{
    color:#841818;
    font-family: 'Tajawal', sans-serif;
    font-size:20px;
}
#logo{
    max-width: 50px;
    height:50px;
    margin-top:20px;
    margin-left:15px;
}
#logoDiv{
    display:flex;
}
header h1{
    font-family: 'IM Fell Double Pica', serif;
    margin:15px;
    font-size:3em;
    text-shadow: 1px 1px #b8950b;
}
header{
    border-bottom:2px solid #e0bb20;
}
.menu{
    font-weight:bold;
}
.navBar li:first-child {
    display: block;
}
.navBar li{
    display:none;
}
.responsive li {
	display: block;
}
#logo{
    font-family: 'Merienda One', cursive;
    size:2em;
}
.navBar{
    display:block;
    font-family: 'Texturina', serif;
    position: relative;
    float: right;
    top: -75px;
    background-color: white;
    text-align: right;
    z-index: 1;
}
a{
    text-decoration:none;
    color:#841818;
}
li{
    list-style-type: none;
    margin-right:10px;
    margin-left:10px;
}

#footerContent, footer{
    display:flex;
    align-items:center;
    justify-content:center;
}
#footleft{
    text-align:right;
}
#footright{
    border-left:1px black solid;
}
footer{
    clear:right;
    border-top:2px solid #e0bb20;
}
ul{
    padding:0;
}
#activeLink{
    font-weight:bold;
}
a:hover{
    color:#e0bb20;
}

/* Home page CSS*/
picture #bannerImg{
    width:100%;
    filter: none;
}
#commerce img{
    filter: brightness(0.40);
}
#articleDiv{
    background-color:#5f5f5f;
}
#chamberArticle{
    margin:0 auto;
    max-width:80%;
    margin-top:25px;
}

#joinBtn{
    width: 100px;
    height:50px;
    background-color:#e0bb20;
    border:1px solid white;
    font-size:25px;
    font-family: 'IM Fell Double Pica', serif;
}
table th{
    border-bottom: 1px #e0bb20 solid;
}
table tr{
    min-width: 33;
}
table{
    min-width:40%;
    text-align:center;
    margin:0 auto;
}

#weather{
    margin-top: 50px;
    margin-bottom: 50px;
}
.tabledata{
    background-color:#c4c4c4;
}
#current{
    color:balck;
}
.herocast{
	padding: 5px;
}
#sumContent{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 30px 30px 30px 30px;
    column-gap: 5px;
    color:black;
    font-size:12px;
    margin-top:3px;
    padding-bottom:5px;
}
.leftSum{
    grid-column: 1/2;
    text-align:end;
    font-size:18px;
}
.rightSum{
    grid-column: 2/3;
    text-align:start;
    color:black;
    font-size:18px;
}
#currently, #currently2{
    grid-row: 1/2;
}
#high, #high2{
    grid-row: 2/3;
}
#windChill, #windChill2{
    grid-row: 3/4;
}
#humidity, #humidity2{
    grid-row: 4/5;
}
#windSpeed, #windSpeed2{
    grid-row: 5/6;
}
#articleContent{
    margin:5px;
}
#weatherSum{
    color:black;
    margin-top: 3px;
    margin-bottom:3px;
    text-align:center;
    font-size:30px;
}
#openweather{
    color:#ea6e4b;
}
#copyr{
    font-size:15px;
}
.tabledata{
    color:black;
}
#eventsArticle{
    clear: right;
    margin-bottom: 25px;
}
#closeBtn{
    background-color:red;
    border:none;
    color:white;
    float:right;
    position: relative;
}
aside{
    display:none;
    background-color:red;
    color:white;
    text-align:center;
    width:100%;
    height:auto;
    position:relative;
    top:-28px;
}
aside h1, aside p{
    margin-bottom:5px;
    margin-top:10px;
}
aside h1{
    margin-top:25px;
}
/*City CSS*/
#imageDiv h2{
    font-size:3em;
    color:black;
    position:absolute;
    margin-top: 0;
    top:125px;
    text-shadow: 2px 2px black;
}
#marginDefinerCity{
    color:#989897;
    text-align:center;
    }



    /*contact page*/
#contactUs{
    margin:0 auto;
    max-width:1200px;
}
#maps{
    display:block;
}
#maps h2{
    text-align:center;
}
form h2{
    margin-left:10px;
}
#map1, #map2{
    max-width:95%;
}
#cityData{
    text-align:left;
    background-color:#989897;
    color:black;
}
.rowE{
    background-color:#cfcfcf;
}

/*join page*/
form{
    display:flex;
    flex-direction:column;
    padding: 20px;
}
#submit{
    width:100px;
}
textarea{
    margin: 0px;
    width: 325px;
    height: 99px;
}
label{
    margin-top:10px;
    margin-bottom:10px;
}
span{
    font-weight:bold;
}
.formInfo{
    text-align:start;
    display:flex;
    flex-direction:column;
    padding-right:0px
}
input, #member{
    width: 300px;
}
#registerH2{
    margin-bottom:0px;
    margin-left:10px;
}
#note{
    font-style: italic;
    margin-bottom:0;
}
#thanks{
    margin-left:15px;
    margin-bottom:500px;
}
/*Directory page css*/
.card{
    width:80%;
    margin:0 auto;
    border:2px black solid;
    box-shadow: 3px 3px 8px black;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    padding:5px;
}
.card p{
    max-width: 98%;
    word-wrap: break-word;   
}
.card img{
    max-width:50%;
}
#viewDiv{
    display:none;
}
#directoryHeader{
    margin-left:10px;
}