body{
  background-color: #203047;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  max-width: 1000px;
  margin: 0 auto; 
}

h1 {
  font-size: 3em;
  text-align:center;
}
h2{
  font-size:2em;
}
nav {
  background-color: #bc4123;
  text-align: center;
  box-shadow: 0 2px 10px black;
  margin-bottom:25px;
}
ul {
  display:flex;
  margin: 0;
  padding:0;
  overflow: hidden;
  list-style-type: none;
  justify-content:center;
  text-align:center;
}
a {
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5em;
  color:white;
}
li:hover {
  background-color: #c35439;
}
li {
  width:33.3%;
  padding:5px;
}
p {
  line-height:20px;
}
table, th, td{
  border: 1px solid #bc4123;
  margin-top:25px;
  text-align:center;
  padding:10px;
  margin:0 auto;
}

#white{
  background-color:#FAFAFA;
  border-top:1px solid #bc4123;
  margin-top:20px;
}
#lightBlue{
  background-color:#1e56a0;
}
#blue{
  background-color:#163172;
  color:#FAFAFA;
}
#black{
  background-color:#1D242B;
  border-bottom:1px solid #bc4123;
  margin-bottom: 25px;
}
#white, #lightBlue{
    color:black;
}
#white, #lightBlue, #blue, #black{
    border-right: 1px solid #bc4123;
    border-left: 1px solid #bc4123;
    text-align: center;
    padding:20px;
}
tbody{
  align-content: center;
}
#tableBody, #tParagraph, #tHeader, #tFooter, #tHeader2{
    font-weight: bold;
    color:#1D242B;
}
#tableBody, #tParagraph{
  background-color:#FAFAFA;
}
#tHeader, #tFooter{
  background-color:#1e56a0;
  color:#FAFAFA;
  }
#tHeader2{
  background-color:#163172;
  }
/* Typography Page */

#fontHeader, #fontH1{
  font-family: 'Vollkorn SC', serif;
  font-size: 60px;
}
#fontH2{
  font-family: 'Lora', serif;
  font-size: 60px;
}
#fontParagraph{
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
}
#fontFooter{
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

/* Target Audience Page*/
ul.personaUl, ul.scenerioUl{
  display:block;
  list-style-type:block;
}
li.personaLi, li.scenerioLi{
  width:auto;
  text-align:auto;
}
#persona1 {
  margin-bottom:25px;
}
li.personaLi:hover{
  background-color: #203047;
}