@media only screen and (min-width: 730px){
    .navBar li:first-child {
        display: none;
    }
    header{
        grid-template-columns: 24% 1fr;
        grid-template-rows:150px;
    }
    #logo{
        width:75%;
    }
    h1{
        font-size: 400%;
    }
    .navBar li{
        display:block;
    }
    
    ul{
        display:flex; 
        align-items: center;
    }
    .linkName{
        margin-top:5px;
    }
    li{
        text-align:center;   
    }
    #maincontainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap:1rem;

    }
    #container1, #container3, #container5, #container7, #container9{
        grid-column:1/2;
    }
    #container2, #container4, #container6, #container8{
        grid-column:2/3;
    }
    #container1, #container2{
        grid-row:1/2;
    }
    #container3, #container4{
        grid-row:2/3;
    }
    #container5, #container6{
        grid-row:3/4;
    }
    #container7, #container8{
        grid-row:4/5;
    }
    #container9{
        grid-row:5/6;
        margin-bottom: 1em;
    }
    footer{
        width: 80%;
        margin: 1em 10%;
    }
}