@media only screen and (min-width: 730px){
    .navBar li:first-child {
        display: none;
    }
    header{
        grid-template-columns: 24% 1fr;
        grid-template-rows:150px;
    }
    #logo{
        width:75%;
    }
    h1{
        font-size: 400%;
    }
    .navBar li{
        display:block;
    }
    
    ul{
        display:flex; 
        align-items: center;
    }
    .linkName{
        margin-top:5px;
    }
    li{
        text-align:center;   
    }
    
    footer{
        width: 80%;
        margin: 1em 10%;
    }
    form{
        padding-right: 40%;
    }
}