@media only screen and (min-width: 730px){
    .navBar li:first-child {
        display: none;
    }
    header{
        grid-template-columns: 24% 1fr;
        grid-template-rows:150px;
    }
    #logo{
        width:75%;
    }
    h1{
        font-size: 400%;
    }
    .navBar li{
        display:block;
    }
    
    ul{
        display:flex; 
        align-items: center;
    }
    li{
        text-align:center;   
    }
    
    footer{
        width: 80%;
        margin: 1em 10%;
    }
    
    #mappic{
        max-width:50%;
        margin-right: 20px;
    }
    #mapImg{
        display:block;
        max-width:100%;
        margin-left:10px;
    }
    .map{
        display:flex;
        align-items:center;
    }
    .linkName{
        margin-top:5px;
    }
    .town {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    .town:nth-child(odd) img {
        grid-column: 1;
    }
    
    .town:nth-child(odd) .data {
        grid-column: 2;
        grid-row: 1;
    }
    .town img{
        align-self:center;
        box-shadow: 5px 5px 6px black;
    }
    #articleUl{
        display:block;
    }
    .articleLi{
        text-align:left;
        list-style-type:disc;
    } 
}