body{
    width:100%;
    background-color:#FAFAFA;
    font-family: "Times New Roman", Times, serif;
    
}
main{
    width: 80%;
    padding: 0 0;
    margin: 1em 10%;
    box-shadow: 5px 5px 8px #1D242B;
    padding-bottom: 5px;
    position: relative;
    top: -30px;
}
header{
    background-color: #1e56a0;
    width:100%;
    position:relative;
    top:-30px;
    left:-10px;
    display:grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    margin-top:20px;
}
#logo{
    height:auto;
    width:80%;
    grid-column:1/2;
    grid-row:1/2;
}
h1{
    font-family: 'Vollkorn SC', serif;
    font-size: 250%;
    color: #FAFAFA;
    grid-column:2/3;
    grid-row:1/2;
    text-shadow: 5px 5px black;
}
h2{
    font-family: 'Lora', serif;
    font-size: 200%;
    color:#FAFAFA;
}
#motto{
    color:#FAFAFA;
    font-size:100%;
    grid-column:2/3;
    grid-row: 1/2;
    align-self: end;
    margin-bottom:5px;
}
nav{
    width: 100%;
    position:relative;
    left:-10px;
    top:-30px;
    background-color: #163172;
    color:#FAFAFA;
    padding: 0;
}
#home{
    color:goldenrod;
}
#preston, #sodasprings, #fishhaven, #stormcenter, #gallery{
    color:white;
}
ul{ 
    padding-left:initial;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}
.navBar li:first-child {
    display: block;
}
.navBar li{
    display:none;
}
li{
    font-family: 'Lora', serif;
    padding: 0;
    flex:1;
    list-style-type: none;
    height:100%;
}

.responsive li {
	display: block;
}

h2#h2Banner {
    position: relative;
    left: -21px;
    padding: 0.1em 21px;
    top: 0.5em;
    background-color:#1e56a0;
}
h2#h2Banner:before{
    position: absolute;
    left:0;
    bottom:-15px;
    border-top: 15px solid #444;
    border-left: 20px solid transparent;
    width: 0;
    height: 0;
    content: "";
}
.heroDiv{
    margin: 10px auto;
    position: relative;
}
#heroImg {
    width:98%;
    height:auto;
    margin: 0 1%;
    margin-top: 15px;
}
#phone:before{
    content: '\260F ';
}
#phone{
    margin-bottom:2px;
}
#email:before{
    content: '\2709 ';
}
#email{
    margin-top:2px;
}
footer{
    background-color: #1e56a0;
    color: #FAFAFA;
    width: 100%;
    position:relative;
    bottom:0;
    left:-10px;
    padding:1%;
    text-align:center;

}
a:visited{
    color:#FAFAFA;
}
a:hover{
    background-color:#3d5283;
}
.linkName{
    margin:5px;
    margin-top:0px;
}
.gallerycontent{
    box-shadow: 2px 2px 4px #888888;
    width:300px;
    margin:0 auto;
}
p{
    font-size: 18px;
    margin-top:2px;
    margin-left:2px;
    font-style:italic;
}
#mapImg{
    display:none;
}
.town{
    max-width:90%;
    margin:0 auto;
    background-color: #1e56a0;
    box-shadow:5px 5px 8px black;
    color:white;
    border: 3px solid black;
    margin-bottom:15px;
    text-align:center;
}

.town img{
    max-width:80%;
    margin: 0 auto;
}
.founded, .rain, .pop{
    font-style:normal;
}
.townheader{
    margin-bottom:2px;
}
.founded, .pop{
    margin-bottom:2px;
}
article{
    background-color: lightgrey;
    padding: 10px;
    margin-bottom:15px;
    border-bottom:3px solid #1e56a0;
}
#articleImg{
    width: 90%;
    height: auto;
    box-shadow: 5px 5px 8px black;
    margin: 0 5%;
}
#articlePara{
    font-style:normal;
}
#author{
    color: #1e56a0;
    margin-top:2px;
    text-decoration:underline;
}
#articleheader{
    font-size:2em;
    font-family: 'Vollkorn SC', serif;
    margin-bottom:2px;
}
#articleUl{
    display:block;
}
.articleLi{
    text-align:left;
    list-style-type:disc;
    margin-left: 20px;
}
#wireframelink{
    font-size:26px;
    font-weight:bold;
    color:darkred;
}
a{
    text-decoration:unset;
}